.Contact-section-1 {
    padding-top: 100px;
    padding-bottom: 120px;
    position: relative;
}

.contact-main {
    display: grid;
    grid-template-columns: 40% 50%;
    column-gap: 100px;
}

.contact-main-1 {
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 25px;
    max-width: 500px;
    max-height: 580px;
}

.Details {
    text-align: start;
    padding-left: 25px;
}

.contact-main-1 h2 {
    font-family: Outfit, sans-serif;
    color: #182944;
    font-size: 28px;
    line-height: 1.286em;
    font-weight: 700;
}

.contact-detail-p {
    font-family: Outfit, sans-serif;
    color: #6e7891;
    font-size: 18px;
    line-height: 1.667em;
    font-weight: 400;
}

.contact-img-detail {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.contact-img-detail img {
    width: 100px;
    height: 80px;
}

.contact-details p:nth-child(1) {
    font-family: Outfit, sans-serif;
    margin-bottom: 5px;
    color: #182944;
    font-size: 20px;
    line-height: 1.1em;
    font-weight: 700;
}

.contact-details p:nth-child(2) {
    margin: 0;
    color: #3083ff;
    font-size: 20px;
    line-height: 1.25em;
    font-weight: 500;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form-1 {
    text-align: start;
}

.contact-form-1 p:nth-child(1) {
    font-family: Outfit, sans-serif;
    color: #3083ff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.contact-form-1 h2 {
    font-family: Outfit, sans-serif;
    color: #182944;
    font-size: 48px;
    line-height: 1.208em;
    font-weight: 700;
    margin-bottom: 16px;
}

.contact-form-1 p:nth-child(3) {
    font-family: Outfit, sans-serif;
    color: #6e7891;
    font-size: 18px;
    margin-bottom: 56px;
    line-height: 1.667em;
    font-weight: 400;
}

.form {
    display: grid;
    row-gap: 35px;
    grid-template-columns: 1fr 1fr;
}

.child {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.child:nth-child(5) {
    grid-column: 1/3;
}

.child label[for="name"],
label[for="email"],
label[for="tel"],
label[for="subject"],
label[for="message"] {
    display: block;
    margin-bottom: 12px;
    color: #182944;
    font-size: 18px;
    line-height: 1.111em;
    font-weight: 700;
}

.child textarea {
    border: none;
    outline: none;
    max-height: 200px;
    max-width: 100%;
    min-height: 144px;
    min-width: 100%;
    padding: 16px 24px;
    border-style: solid;
    border-width: 1px;
    border-color: #eff0f6;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 12px 0 rgba(33, 31, 84, 0.08);
    color: #182944;
    font-size: 18px;
    font-weight: 500;
}



.child input[type="text"],
input[type="email"],
input[type="tel"],
input[type="subject"],
input[type="message"] {
    outline: none;
    height: 72px;
    border: none;
    font-size: 18px;
    line-height: 1.1em;
    font-weight: 500;
    padding: 16px 24px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 12px 0 rgba(33, 31, 84, 0.08);
}

.child input[type="submit"] {
    font-family: Outfit, sans-serif;
    font-weight: 600;
    font-size: 18px;
    border: none;
    background-color: #3083FF;
    color: #ffffff;
    width: 185px;
    height: 70px;
    border-radius: 6px;
}

.contact-half-bg {
    position: absolute;
    left: 0%;
    top: -1.7%;
    right: auto;
    bottom: 0%;
    z-index: -999;
    overflow: hidden;
    width: 34%;
    height: 102%;
    background-color: #3083ff;
}

.faq-section {
    background-color: #182944;
    padding: 180px 0;
}

.faq-section-1 p:nth-child(1){
    font-family: Outfit, sans-serif;
    color: #3083ff;
    font-size: 20px;
    line-height: 1.1em;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.faq-section-1 h2 {
    font-family: Outfit, sans-serif;
    color: #fff;
    font-size: 48px;
    line-height: 1.208em;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 16px;
}

.faq-section-1 p:nth-child(3) {
    color: #fff;
    font-family: Outfit, sans-serif;
    font-size: 18px;
    line-height: 1.667em;
    font-weight: 400;
}

.faq-cards {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 40% 40%;
    gap: 50px;
    cursor: pointer;
}

.faq-card {
    width: 600px;
    background-color: #fff;
    padding-top: 52px;
    padding-bottom: 15px;
    padding-left: 48px;
    padding-right: 17px;
    text-align: start;
    border-radius: 20px;
    margin-bottom: 50px;
}

.faq-card h2 {
    font-family: Outfit, sans-serif;
    font-size: 24px;
    line-height: 1.417em;
    color: #182944;
    font-weight: 700;
}

.faq-card p {
    margin-top: 18px;
    font-family: Outfit, sans-serif;
    color: #6e7891;
    font-size: 18px;
    line-height: 1.667em;
    font-weight: 400;
    
}

/* 
.faq-card {
    width: 600px;
    height: 175px;
    background-color: #fff;
    padding: 52px 17px 52px 48px;
    box-shadow: 0 2px 8px 0 rgba(33, 31, 84, 0.06);
}

.faq-card h2 {
    color: #182944;
    font-size: 24px;
    line-height: 1.417em;
    font-weight: 700;
    cursor: pointer;
} */